<body id = "landing">
  <div id="body">
      <%= render 'shared/nav' %>
      <div id="welcome">
        <h2>Welcome To</h2>
        <h1>Hop<span>scotch</span></h1>
        <div class="box-with-text">
          <h3>The Ultimate Drinking Game Database</h3>
        </div>
      </div>
  </div>
</body>