<% @games.each do |game| %>
  <p><%= game.title %></p>
  <p><%= game.description %></p>
    <% game.rules.each do |rule| %>
      <p><%= rule.rules %></p>
      <p><%= rule.drink %></p>
    <% end %> 
  <br>
<% end %>


