@mixin circle {
  width: 360px;
  height: 360px;
  background: #3F3737;
  -moz-border-radius: 240px;
  -webkit-border-radius: 240px;
  border-radius: 240px;
  margin: 0 auto;
  position: relative;
}

@mixin circle2 {
  width: 400px;
  height: 400px;
  background: #993333;
  -moz-border-radius: 300px;
  -webkit-border-radius: 300px;
  border-radius: 300px;
  // position: absolute;
  left: 50%;
  right: 50%;
}

@mixin delete_button {
  background-color: transparent;
  width: 70px;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 auto;
  padding: 3px;
  margin-top: 20px;
  text-decoration: none;
  color: black;
  font-size: 25px;
  font-family:'Amatic SC', Helvetica, Sans-serif;
  border: thin solid transparent;
}